# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# TEMPEST specific development folders
Logs/
future/

# Virtual Environments
venv/
env/
.env
.venv/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

pipeline_results/**/**/**/*.csv
pipeline_results/sweeps/**/**/*.csv
ml/runs/sweeps/**/*.csv

# large outputs
external_data/
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.csv

# caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# logs
tensorboard/
wandb/
logs/

# videos
*.mp4

# temp
tmp/
cache/